aiohttp==3.7.4.post0
asn1crypto==0.24.0
async==0.6.2
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.22.0
attrs==20.3.0
beautifulsoup4==4.9.3
Brlapi==0.6.7
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
Cogs==0.4.4
configobj==5.0.6
cryptography==2.6.1
ctx==0.1.2
cupshelpers==1.0
dacite==1.6.0
dblpy==0.4.0
discord==1.0.1
discord.py==1.7.1
distro==1.3.0
distro-info==0.21
entrypoints==0.3
httplib2==0.11.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
multidict==5.1.0
numpy==1.20.2
packaging==20.9
pip-review==1.1.0
pkmntcg-discord-bot==0.6
pokemontcgsdk==3.0.0
psutil==5.5.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pyparsing==2.4.7
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-debian==0.1.35
python-debianbts==2.8.2
python-dotenv==0.17.0
pyxdg==0.25
PyYAML==5.4.1
ratelimiter==1.2.0.post0
reportbug===7.5.3-deb10u1
requests==2.21.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
soupsieve==2.2.1
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==1.24.1
yarl==1.6.3
